
body
{
	background: white;
	color: black;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;

	max-width: 1200px;
	margin: 0 auto;
}

/* no idea what this is */
.small
{
	/* 75% of the baseline */
	font-size: 12px;
}

.large
{
	/* 125% of the baseline */
	font-size: 20px;
}

h1
{
	font-size: 32px;
}

header
{
	text-align: center;
	width: 100%;
}

section
{
	width: 100%;
}

footer
{
	text-align: center;
	width: 100%;
}

/* menu header */
ul.menu
{
	list-style-type:none;
	margin:0;
	padding:0;
}

/* makes the stuff all in one line */
ul.menu li
{
	display:inline;
}
