
/* every page? */
body
{
	background: white;
	color: black;
	
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;
}

/* header h1 */
h1
{
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 30px;
}

/* menu header */
ul.menu
{
	list-style-type:none;
	margin:0;
	padding:0;
}

/* makes the stuff all in one line */
ul.menu li
{
	display:inline;
}
